---
- name: Discover device facts
  hosts: all
  gather_facts: no
  connection: network_cli

  tasks:
    - name: Gather hardware and interface facts
      cisco.ios.ios_facts:
        gather_subset:
          - hardware
          - interfaces
      when: "'IOS-XE' in inventory_hostname" # 이 부분은 OS 유형에 따라 동적으로 변경 가능

    - name: Gather hardware and interface facts for NX-OS
      cisco.nxos.nxos_facts:
        gather_subset:
          - hardware
          - interfaces
      when: "'NX-OS' in inventory_hostname"